.tittle-vacante {
  font-size: 1rem;
  margin-bottom: 5px;
  display: inline-block;
}

.job-card:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}


.image-job {
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 80px;
  object-fit: contain;
}

.icon-card img {
  margin-right: 10px;
  width: auto;
  height: auto;
  max-width: 15px;
  max-height: 15px;
  object-fit: contain;
}
